     /* font family */

.merriweather-font-one {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.inter-font-two {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    max-width: 1600px;
    margin: 0 auto;
}


    /* Banner/Head styles */
.banner{
    background-image: url('banner.png');
    width: 1320px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 140px 120px;
    border-radius: 16px;
}
.banner-container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    height: 600px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0));
}
.small-heading{
    font-size: 32;
    margin-bottom: 16px;
    color: #FFFFFF;
    text-align: center;
}
.big-heading{
    font-size: 72px;
    text-align: center;
    color:#FFFFFF;
}

    /* section 1 styles */
.section-one{
    text-align: center;
    margin-bottom: 120px;
}
.line-one{
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
}
.line-two{
    font-size: 24px;
    color: #FF0000;
    margin: 48px 0px 16px 0px ;
}
.line-three{
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-bottom: 48px;
}

    /* Section two */
.section-two{
    background-image: url('clbrt.png');
    width: 1320px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 140px 120px;
    border-radius: 16px;
}

.party-container{
    display: flex;
    gap: 39px;
    align-items: center;
    justify-content: center;
    width: 1320px;
    height: 600px;
    background: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0));
    border-radius: 16px;

}
.party-container-para{
    margin-left: 126px; 
}
.party-container-img{
    margin-right: 138px;
    /* background: radial-gradient(ellipse at center, ); */
}
.sec-two-welcome{
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}
.sec-two-para{
    font-size: 18px;
    color: #FFFFFF;
    margin: 24px 0px 32px 0px;
}
.sec-two-join{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

   /* section three styles */
.section-three{
    /* position: relative; */
    margin: 50px 140px 120px;
}
.sec-three-box{
    position: absolute;
    /* border: none; */
    border-radius: 16px;
    width: 1320px;
    height: 482px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
    opacity: 10%;
    z-index: 1;
}
.sec-three-text{
    /* position: static; */
    z-index: 2;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 100px;
}
.sec-three-red{
    color: #FF0000;
}
.sec-three-button{
    width: 167px;
    height: 56px;
    border-radius: 8px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    margin-top: 48px;
    margin-bottom: 110px;
}

    /* section four styles */
.sec-four{
    margin: 50px 140px 120px;
}
.sec-four-container{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}
.sec-four-offer{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.sec-four-coming{
    font-size: 48px;
    font-weight: bold;
    margin: 16px 0px 22px 0px;
}
.sec-four-para{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}
.sec-four-img{
    border: 15px solid #FF0000;
    width: 364.84px;
    height: 364.84px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.sec-four-h{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
}
.sec-four-text{
    margin: 16px 0px 43px 0px;
}
.sec-four-second-text{
    margin-left: 50px;
}

    /* Section five styles */
.sec-five-first-dv{
    text-align: center;
}

.sec-five-1st-line{
    font-size: 24px;
    font-weight: 500;
    color:#070211;
}
.sec-five-h{
    font-size: 72px;
    font-weight: bold;
    color: #070211;
    margin: 16px 0px 28px 0px;
}
.sec-five-first-para{
    font-size: 20px;
    font-weight: 500;
    color: #070211;
    opacity: 60%;
}
.sec-five-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
    position: relative;
    background-image: url('rectangle.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 64px;
}
.sec-five-img-one{
    margin: 0px 40px 279px 0px;
}
    /* Section six */
.sec-six{
    margin: 120px 140px 120px;
}

.sec-six-p1{
    font-size: 24px;
    font-weight: 500px;
    color: #FF0000;
}
.sec-six-h{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin:16px 0px 22px 0px;
}    
.sec-six-p2{
    font-size: 20px;
    color: #070211;
    opacity: 60%;
    padding-right: 564px;
}
.sec-six-img{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
}

    /* Section Seven */

.sec-seven{
    margin: 120px 140px
}
.sec-seven-dv{
    display: flex;
    text-align: center;
    justify-content: center;
    display: block;
    background-color:rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 536px;
    padding-top: 80px;
    border-radius: 16px;
}
.sec-seven-h{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin: 40px 0px 134px 0px;
}
.sec-seven-input{
    width: 438px;
    height: 72px;
    color: rgba(7, 2, 17, 0.3);
    border-radius: 50px 0px 0px 50px;
    padding-left: 30px;
    border: none;
}
.sec-seven-btn{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.inp-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

   /* Footer */

.footer{
    width: 1600px;
    height: 350px;
    background-color: rgba(7, 2, 17, 1);
    color: #FFFFFF;
    font-size: 24px;
    padding: 120px 0px 120px 0px;
}
.margin{
    margin:0px 140px 0px 140px;
}
.footer-dv-text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 130px;
}
.footer-dv-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.footer-dv-text2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    margin: 50px 0px 50px 0px;
    background-color: rgba(255, 255, 255, 0.15);
    opacity: 15%;
}
.icon-img{
    display: inline-block;
    vertical-align: middle;
}